1. Swap two numbers

In [1]:
num1=int(input("Enter the value of num1"))
num2=int(input("Enter the value of num2"))
print("Before swap ", num1)
print("Before swap ", num2)

num1, num2=num2, num1

print("After swap", num1)
print("After swap", num2)

Before swap  56
Before swap  12
After swap 12
After swap 56

2. Check number is Prime or Not

In [10]:
num=2
count=0

if num>1:
    for i in range(1, num+1):
        if(num%i)==0:
            count=count+1
    if count==2:
        print(num,"Is Prime number")
    else:
        print(num,"Not a Prime number")

2 Is Prime number

3.Find the factorial of number

In [13]:
def factorial(n):
    return 1 if(n==0 or n==1) else n * factorial(n-1)
    #if (n==0 or n==1):
      #  return 1
   # else:
       # return n * factorial(n-1)
num=4
print("Factorial of", num, "is", factorial(num))

Factorial of 4 is 24

4.Fibonacci Series

In [14]:
n1=0
n2=1
print(n1)
print(n2)

for i in range(2, 10):
    sum=n1+n2
    print(sum)
    n1=n2
    n2=sum

0
1
1
2
3
5
8
13
21
34

5.Find sum of Elements in an array

In [3]:
arr=[1,2,3,4,5]
sum_of_elements=sum(arr)
print("Sum of Elements", sum_of_elements)
sum_of_elements=sum(arr, 10)
print("Sum of Elements", sum_of_elements)
sum_of_elements=sum(arr, -10)
print("Sum of Elements", sum_of_elements)

Sum of Elements 15
Sum of Elements 25
Sum of Elements 5

6.Find the Maximum and Minimum elements in an array

In [6]:
arr=[14,5,6,77,987,12,3]
max=arr[0]
n=len(arr)
for i in range(1,n):
    if arr[i]>max:
        max=arr[i]
print("Maximum number of Element in an array:",max)

min=arr[0]
for j in range(1,n):
    if arr[j]<min:
        min=arr[j]
print("Minimum number of Element in an array:",min)

Maximum number of Element in an array: 987
Minimum number of Element in an array: 3

7.Find length od a list

In [11]:
mylist=[1,4,5,6,4,6,8,9]
print(len(mylist))

#or
my_list=[1,2,35,6,7]
print(my_list)
count=0
for i  in my_list:
    count=count+1
print("Lenght of list is:",count)

8
[1, 2, 35, 6, 7]
Lenght of list is: 5

8.Swap First and Last element of a List

In [1]:
mylist=[1,4,6,7,9,10]
size=len(mylist)
temp=mylist[0]
mylist[0]=mylist[-1]
mylist[-1]=temp
print(mylist)

[10, 4, 6, 7, 9, 1]

9. Swap any two elements in a list

In [3]:
my_list=[12,15,6,8,10,100]
print(my_list)
pos1, pos2=1, 3
my_list[pos1],my_list[pos2]=my_list[pos2], my_list[pos1]
pos1, pos2=0,5
my_list[pos1],my_list[pos2]=my_list[pos2], my_list[pos1]

print(my_list)

[12, 15, 6, 8, 10, 100]
[100, 8, 6, 15, 10, 12]

10.Remove the Nth occurance of the word from list

In [7]:
my_list=["hi" ,"hello", "hi"]
word="hi"
n=2
count=0
for i in range(0, len(my_list)):
    if(my_list[i]==word):
        count=count+1
        if(count==n):
            del my_list[i]
print(my_list)

['hi', 'hello']

11.Search an Element in a list

In [9]:
my_list=[1,3,6,7,8,9]
ele=10
flag=0

for i in my_list:
    if(ele==i):
        print("Element found")
        flag=1
        break
if (flag==0):
    print("Element not found")

Element not found

12.Clear a list

In [3]:
#my_list=[1,3,4,6,7,8]
#my_list=[]
#print(my_list)
my_list.clear()
print(my_list)

[]

13.Reverse a list

In [3]:
my_list=[1,4,5,6,77,9,23,74]
#my_list.reverse()
my_list1=my_list[::-1]
print(my_list1)

[74, 23, 9, 77, 6, 5, 4, 1]

14.Clone or Copy a list

In [5]:
my_list=[1,2,4,5,66,89]
#mylist2=mylist[:]
#mylist2=[]
#mylist2.extend(mylist)
mylist_copy=my_list.copy()
print(mylist_copy)

[1, 2, 4, 5, 66, 89]

15.Count occurances of an element in a list

In [15]:
my_list=[12,3,4,5,6,7,99,2,5,2,2,3,3,3,2]
x=23
count=0

for ele in my_list:

    if(ele==x):
        count+=1
print("{} has occured {} times".format(x,count))

23 has occured 0 times

16.Find the sum of Elements in list

In [19]:
my_list=[5,10,25,10]
#total=0
#for i in range(0,len(my_list)):
    #total=total+my_list[i]
total=sum(my_list)
print("Sum of elements in a list:",total)

Sum of elements in a list: 50

17.Multiply the total element in a list

In [20]:
my_list=[2,4,5]
result=1

for i in my_list:
    result=result * i
print(result)

40

18.Find the Smallest and Largest number in the list

In [24]:
my_list=[12,4,66,89,2,78,23,34]
print("Smallest number in a list", min(my_list))
print("Largest number in a list:", max(my_list))
#my_list.sort()
#print(my_list)
#print("Smallest number in a list", my_list[0])
#print("Largest number in a list", my_list[-1])

Smallest number in a list 2
Largest number in a list: 89

19.Find the Second largest element in a list

In [25]:
my_list=[106,7,34,98,9,107,23,4]
my_list.sort()
print("Second largest element in a list", my_list[-2])

Second largest element in a list 106

20. Check a string is palindrome or not

In [38]:
def palindrome(str):
    if(str==str[::-1]):
        return "Is a Palindrome"
    else:
        return "it is not a Palindrome"
str="amma"
print(palindrome(str))

Is a Palindrome

21. Reverse a Words in a string

In [41]:
str="Code karega bharat"

words=str.split()
print(words)

words=words[::-1]
print(words)

['Code', 'karega', 'bharat']
['bharat', 'karega', 'Code']

22.Find the substring presence in a string

In [43]:
str="Welcome to Python Programming"
sub_str="Python"
print(str.find(sub_str))
if(str.find(sub_str)==-1):
    print("Not found")
else:
    print("Found")

11
Found

23.Find the lenght of a string

In [49]:
str="Code karega Bharat"
str.split()
print(len(str))
str1="Coder"
print(len(str1))

18
5

24.Check if a string contians any special character

In [51]:
import re
#str="wecome@pythonprprogramming@"
str="Welcome"
regex=re.compile('[!@#$%^&*(){:;?/|<>]')

if(regex.search(str)==None):
    print("No special characters present in a string")
else:
    print("String contains special characters")

No special characters present in a string

25.Check for URL in a String

In [53]:
import re

str="My profile:  https://www.pavanonlinetrainings.com/about.html"

url=re.findall('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',str)
print(url)

['https://www.pavanonlinetrainings.com/about.html']

<>:5: SyntaxWarning: invalid escape sequence '\('
<>:5: SyntaxWarning: invalid escape sequence '\('
C:\Users\Hp\AppData\Local\Temp\ipykernel_2804\4285367168.py:5: SyntaxWarning: invalid escape sequence '\('
  url=re.findall('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',str)